div.contato{
    background: #faf1e4;
    margin: 50px auto;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid #b92312;
    padding:0 20px;
}

div.contato h1{
    color: #b92312;
    text-align: center;
    padding: 20px 0 10px;
    text-transform: uppercase; 
}

.inputTexto{
    display: block;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2em;
    border: 1px solid #b92312;
    margin-bottom: 20px;
    margin-left: 30px;
}

textarea{
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2em;
    border: 1px solid #b92312;
    margin-bottom: 20px;
    margin-left: 30px;
    width: 300px;
}

input.botaoEnviar{
    display: block;
    margin: 0 auto 20px;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2em;
    border: 1px solid #b92312;
    margin-bottom: 20px;
    color: #b92312
}

input.botaoEnviar:hover{
    cursor:pointer;
    background-color: #b92312;
    color: #faf1e4;
}

@media(max-width: 600px){
    .inputTexto{
        margin-left: 0;
    }
    textarea{
        margin-left: 0;
    }
}